extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anton Kilk

        p.lead.text-light
          | Full-Stack Developer 

        .portfolio-bio
          p(class="animated fadeInRight delay-1s")
            | I am a medical engineer, but I found my passion in coding. 
            | You can check my projects here.
            | I also do a side project in the healthcare area, that will hopefully appear here soon.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li Express
          li React
          li SQL
          li Git 

        h6 Contact Info

        ul
          li (+372) 556 99 099
          li ant.kilk@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/anton-kilk-b1863130/') LinkedIn
        a.button.expanded(href='https://github.com/AntonKilk') GitHub
        a.button.expanded(href='https://twitter.com/AntonKilk') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  