extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anton Kilk

        p.lead.text-light
          | Code Cracking Fellow

        .portfolio-bio
          p(class="animated fadeInRight delay-1s")
            | I have an MSc in Electronics. Since 2012 I work as a Field Engineer in Abbott (formerly St Jude Medical) helping healthcare professionals using our devices and applications in Cardiac Electrophysiology. My job has two main vectors - technical assistance and account management.
            br
            br
            | I created this portfolio aside from my main duty partially as a hobby, but also to learn to code, which was always my dream. 
            br
            br
          h6 Anton Kilk at a glance:

          ul
            li MSc in Electronics
            li 8+ years of experience in Healthcare Industry / International company / Finland & Baltic region
            li 4 languages: English, Russian, Estonian, Finnish
            li 4 Marathons and 8 Half Marathons
            li Married, 2 kids
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Coding Skills

        ul
          li JavaScript
          li Node.js
          li Express
          li React
          li React Router
          li D3
          li Cytoscape.js
          li SQL
          li SQLite
          li Git
          li Pug

        h6 Contact Info

        ul
          li (+372) 556 99 099
          li ant.kilk@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/anton-kilk-b1863130/') LinkedIn
        a.button.expanded(href='https://github.com/AntonKilk') GitHub
        a.button.expanded(href='https://twitter.com/AntonKilk') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
