extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anton Kilk

        p.lead.text-light
          | Code Cracking Fellow

        .portfolio-bio
          p(class="animated fadeInRight delay-1s")
            | I am a medical engineer with 10+ years of experience in international medical companies.
            br
            br
            | Occasionally started to play with web technologies and ended up learning C in Hive Helsinki (School 42).
           
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Coding Skills

        ul
          li C
          li Unix
          li Network Administration
          li JavaScript
          li Node.js
          li React
          li React Router
          li Docker
          li SQL
          li git

        a.button.expanded(target="_blank", href='https://www.linkedin.com/in/anton-kilk-b1863130/') LinkedIn
        a.button.expanded(target="_blank", href='https://github.com/AntonKilk') GitHub
        a.button.expanded(target="_blank", href='https://twitter.com/AntonKilk') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
